table {
    border-collapse: collapse;
    text-transform: capitalize;
}
caption{
    margin-bottom: 10px;
}

a {
    color: blue;
}

td,
th {
    border: 2px solid rgb(190, 190, 190);
    text-align: center;
    padding: 10px 20px;
}

th{
    background-color: #EBEBEB;
}

tr:nth-child(odd) {
    background-color: #F5F5F5;
}

tr:nth-child(even) {
    background-color: #FAFAFA;
}

.tb1 {
    border-top: 3px solid black;
}

.tb2 {
    border-bottom: 3px solid black;
}

.planet {
    border-left: 3px solid black;
    border-right: 3px solid black;
}